<!DOCTYPE html>
<html>
<title>API Document</title>

<xmp theme="united" style="display:none;">
{{>markdown}}
</xmp>

<!-- <script src="http://strapdownjs.com/v/0.2/strapdown.js"></script> -->
<script src="https://cdn.jsdelivr.net/gh/Naereen/StrapDown.js@master/strapdown.min.js"></script>
</html>